.post-detail {
  display: flex;
  flex-direction: column;
  margin: 12.5%;
  align-items: center;
  width: 700px;
  height: 700px;
  border: 1px solid black;
  background: #FFFF99;
  font-size: 20px;
  justify-content: space-evenly;
}





  
  
  
